.container_cadastro {
    /* max-width: 400px; */
    width: 100%;
    margin: auto;
    display: flex;
    padding-top: 30px;
}

.div_titulo{
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-align: start;
    max-width: 500px;
}

.div_titulo span {
    font-weight: bold;
}

.form_usuario{
    max-width: 500px;
    width: 100%;
    margin: auto;
}
